<%- partial('_partial/head') %>
<body class="container-fluid">
  <div id="main-banner" style="height: 100px; position: relative; overflow: hidden; display: flex; align-items: center;">
    <img style="width: 100%;" class="img-fluid"
      src="<%- theme.cloudinary.uploads_url %><%- theme.cloudinary.version %>/jay-zhang-J10TawzEW6Q-unsplash.jpg"
      srcset="<%- theme.cloudinary.uploads_url %>c_scale,w_480/<%- theme.cloudinary.version %>/jay-zhang-J10TawzEW6Q-unsplash.jpg 480w, <%- theme.cloudinary.uploads_url %>c_scale,w_1080/<%- theme.cloudinary.version %>/jay-zhang-J10TawzEW6Q-unsplash.jpg 1080w"
      alt="keyboard by jay-zhang"
      sizes="50vw" />
  </div>
  <div class="container-fluid bg-dark">
    <%- partial('_partial/header') %>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 p-5">
        <section id="main">
          <%- body %>
        </section>
      </div>
      <div class="col-sm-4 bg-dark text-white p-5">
        <%- partial('_partial/sidebar') %>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-dark">
    <%- partial('_partial/footer') %>
  </div>
</body>
</html>