<footer id="footer" class="text-white bd-footer p-3">
    <div class="text-center">
      <span class="d-block p-2 bg-dark text-white">Photo by
        <a target="_blank" rel="noopener" rel="noreferrer" href="<%- theme.unsplash.banner.author.url %>"><%- theme.unsplash.banner.author.name %></a> on
        <a target="_blank" rel="noopener" rel="noreferrer" href="<%- theme.unsplash.banner.credit %>">Unsplash</a>
      </span>
      <span class="d-block p-2 bg-dark text-white">Icons made by
        <a target="_blank" rel="noopener" rel="noreferrer" href="<%- theme.flaticon.icons.author.url %>" title="<%- theme.flaticon.icons.author.name %>"><%- theme.flaticon.icons.author.name %></a> from <a
        href="<%- theme.flaticon.icons.credit %>" title="Flaticon">www.flaticon.local</a>
      </span>
      <span class="d-block p-2 bg-dark text-white">
        &copy; <%= date(new Date(), 'YYYY') %>, <%= config.author %>
      </span>
      <span class="d-block p-2 bg-dark text-white">
        Powered by <a target="_blank" rel="noopener" rel="noreferrer" href="http://hexo.io/" target="_blank">Hexo</a>
      </span>
    </div>
</footer>