<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><% if (page.title) { %><%= page.title %> | <% } %><%= config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <link rel="stylesheet" type="text/css" rel="dns-prefetch" href="<%- theme.bootstrap.css_url %>" integrity="<%- theme.bootstrap.css_integrity %>" crossorigin="anonymous">
  <%- open_graph({twitter_id: theme.twitter}) %>
  <link rel="alternate" rel="dns-prefetch" href="<%= url_for(theme.rss) %>" title="<%= config.title %>" type="application/atom+xml">
  <link rel="icon" rel="dns-prefetch" href="<%- theme.cloudinary.uploads_url %><%- theme.cloudinary.version %>/favicon.ico">
  <%- partial('google-analytics') %>
</head>